@model Cadastros.Domain.DTO.EmpresaDTO

<h1>Detalhes</h1>
<h4>Empresa</h4>

<div class="row">
    <table>
        <ul class="list-group width=" 60%"">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nome Fantasia
                <b>@Model.nomeFantasia</b>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Unidade Federal
                <b>@Model.ufId</b>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                CNPJ
                <b>@Model.cNPJ</b>
            </li>
        </ul>
        <ul>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.id">Editar</a> |
            <a class="btn btn-danger" onclick="deleteEmpresa(@Model.id)" asp-action="Index">Deletar</a>
            @*<a class="nav-link text-light" asp-area="" asp-controller="Empresa" asp-action="Index">Empresa</a>*@
        </ul>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a> Id </a>
                </th>
                <th>
                    <a> Nome </a>
                </th>
                <th>
                    <a> CPF_CNPJ </a>
                </th>
                <th>
                    <a class="btn btn-primary" asp-controller="Fornecedor" asp-action="Create">Adicionar</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listaFornecedor)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id )
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cpf_cnpj)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Fornecedor" asp-action="Detalhes" asp-route-id="@item.id" >Detalhes</a> |
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                        <a class="btn btn-danger" href="#" onclick="deleteEmpresa(@item.id)">Deletar</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>

@section Scripts {
    
    <script>
        const deleteEmpresa = (idParam) => {
            msgModalMessage(`Deseja realmente excluir o registro ${idParam}?`, () => {
                $.ajax({
                    url: `@Url.Action("Delete")`,
                    method: 'POST',
                    data: {
                        id: idParam
                    },
                    success: (resp) => {
                        if (resp.code == '200') {
                            liveToastMessage(`O Registro ${idParam} foi excluído.`, 'Empresa');
                            setTimeout(() => { window.location.reload(); }, 4000);
                        }
                    }
                });
                closeMsgModalMessage();
            });
        }
    </script>
}